.jumbotron {
	color: #D2D7D3;
	font-size: 65px;
	text-align: center;
	height: 250px;
	background-color: #044f67;
	padding: 20px 0px 20px 0px; 
}
#really{
	font-size: 85px;
	text-align: center;
}
.dropdown-toggle{
	float: left;
	margin: 0px 0px 0px 30px;

}
#currentMood{
	background-color: #37bc9b;
}

.col-md-2{float: left;
	
}
.col-lg-6{
	
	text-align: center;
	height: 400px;
	width: 640px;
}
#gifDiv{
	float: left;
	background-color: transparent;
	margin: 0px 0px 20px 30px;
}
#vidDiv{
	float: right;
	background-color: transparent;
	margin: 0px 30px 20px 0px;
}
.col-lg-12{
	text-align: center;
	clear: both;
}
body {
	background-image: url("../images/newsadness.jpg");
	
}

.panel-heading{
	text-align: center;
	background-color: #37bc9b;
}
.panel-body {
	text-align: center;
}
#addMoodButton {
	background-color: #37bc9b;
}

.row {
	margin-left:0px; 
	margin-right:0px;

}

/* very basic mobile responsive */ 
@media screen and (max-width: 980px) {
	.panel-heading, .panel-body, #vidDiv, #gifDiv { 
		width: auto;
	}
		

}

@media screen and (max-width: 768px) {
	.panel-heading, .panel-body, #vidDiv, #gifDiv { 
		width: auto;
	}


}

@media screen and (max-width: 640px) {
	.panel-heading, .panel-body, #vidDiv, #gifDiv { 
		width: auto;
	}

/***********************Shawn's Code***********************/

iframe {
	width: 640px;
	height: 390px;
	padding: 10px;
}

.alert-danger {
	font-size: 11pt;
	margin-bottom: 0;
    text-align: left;
    height: 35px;
    padding: 11px;
    display: none;
}

