.jumbotron {
	color: #D2D7D3;
	font-size: 65px;
	text-align: center;
	height: 250px;
	background-color: #044F67;
	padding: 20px 0px 20px 0px; 
}
#really{
	font-size: 85px;
	text-align: center;
}
.dropdown-toggle{
	float: left;
	margin: 0px 0px 0px 30px;

}

.col-md-2{float: right;
	
}
.col-lg-6{
	
	text-align: center;
	height: 400px;
	width: 640px;
}
#gifDiv{
	float: left;
	background-color: white;
	margin: 0px 0px 20px 30px;
}
#vidDiv{
	float: right;
	background-color: white;
	margin: 0px 30px 20px 0px;
}
.col-lg-12{
	text-align: center;
	clear: both;
}
body {
	background-image: url("../images/sadness.jpeg");
	
}

.panel-info, .panel-body{
	text-align: center;
}



